.header {
  color: rgb(29, 26, 26);
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  a {
    color: rgb(29, 26, 26);
    text-decoration: none;
  }

  .active {
    color: rgb(224, 147, 13);
  }

  li a:hover {
    color: rgb(224, 147, 13);
  }
  
  .innerDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 0;
      gap: 20px;
    }
  }

  @media  screen and (max-width: 768px) {
    padding: 1rem;
  }
}