.parent {
  color: rgb(29, 26, 26);
  padding: 1rem 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;

  a {
    color: rgb(72, 59, 59);
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}